.post-container {
  width: 100%;
  background-color: var(--black);
}

.post-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
  color: white;
  font-family: OctosquaresThin;
  font-size: 1.3em;
}

.post-content p {
  margin-top: 1em;
}

.post-content a {
  color: var(--red);
}

strong {
  text-shadow: 0 0 15px #dc3f5850;
  font-weight: 900;
  color: var(--red);
}

.post-content h1 {
  padding: 0.5em;
  margin-top: 1em;
  font-family: OctosquaresThin;
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.5em;
  background-color: var(--red);
}

hr {
  margin: 3em 0em;
  box-shadow: 0 0 15px #ffffffff;
}

h1 strong {
  color: var(--black);
}

.post-content h2 {
  margin-top: 1em;

  font-family: OctosquaresThin;
  text-transform: uppercase;
  color: var(--red);
  font-size: 1.5em;
  text-shadow: 0 0 15px #dc3f5850;
}

.post-content h3 {
  text-decoration: underline;
  text-decoration-color: var(--red);
  margin-top: 1em;
  font-family: OctosquaresThin;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1em;
  text-shadow: 0 0 10px #ffffff50;
}

h3 strong {
  color: var(--white);
  text-shadow: 0 0 10px #ffffff50;
}
#post-title {
  margin: 0;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0.1em;
  font-family: OctosquaresBlack;
  text-align: center;
  font-size: 3em;
  color: var(--red);
  /* background-color: color-mix(in srgb, var(--red) 30%, transparent); */
  /* border: 1px solid var(--red); */
  text-shadow: 0 0 15px #dc3f5850;
}

pre {
  font-size: 0.8em;
  padding: 2em 0em;
  /* border: 1px solid var(--red); */
  margin-top: 2em;
  margin-bottom: 2em;
  color: var(--white);
  background-color: #000 !important;
  border-radius: 5px;
}

code {
  color: var(--white) !important;
}

pre code {
  color: var(--white);
  background-color: #000 !important;
}

.hljs-keyword {
  color: var(--red) !important;
}
.hljs-title {
  color: goldenrod !important;
}
.hljs-built_in {
  /* color: var(--red) !important; */
  color: goldenrod !important;
}

.hljs-string {
  /* color: var(--white) !important; */
  color: lightgreen !important;
}

.hljs-comment {
  color: color-mix(in srgb, var(--white) 70%, transparent) !important;
}

.hljs-number {
  color: lightgreen !important;
}
